# URL de l'API backend Fly.io
NEXT_PUBLIC_API_URL=https://ecole-notre-dame-eqbsuw.fly.dev/api

# Next Auth
NEXTAUTH_URL=https://votre-projet.vercel.app
NEXTAUTH_SECRET=change_me_32_chars_minimum

# Google Maps (optionnel)
NEXT_PUBLIC_GOOGLE_MAPS_KEY=
